html {
  scroll-behavior: smooth;
}
.container{
    max-width: 1240px;
    margin: auto;
}
.button{
    
    color: azure;
    border-radius: 50px;
    cursor: pointer;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
    padding: 20px;
    
    background-color: #1f003c;
    margin-bottom: 0px;
}
.nav ul {
    display: flex;
    gap: 20px;
}
.nav ul a{
    text-decoration: none;
    color: chartreuse;
}
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    text-align: center;
    background-image:linear-gradient( rgba(0, 0, 0, 0.5)), url('./Images/banner1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 0px;
    padding: 20px;
}
.banner h1 {
    align-content: center;
    font-size: 55px;
    color: chartreuse;
    margin-bottom: 0px;
}
.banner p{
    align-content: center;
    color: chartreuse;
}
/* services styles */
.services{
    background-color:#1f003c ;
    max-width: 1240px;
    margin: 0 auto;
    padding: 20px;
    color: chartreuse;
    text-align: center;
}
.service-container{
    display: flex;
    justify-content: center;
    max-width: 1240px;
    margin: 0 auto;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.service-container img{
    height: 200px;
    width: auto;

}
.box {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);;
    border-radius: 10px;
}
.button-box{
    border: none;
    padding-left: 10px;  
    padding-bottom: 10px;
}
.box img {
    border-radius: 10px;
    text-align: center;
}
.box h2,p {
    padding-left: 10px;
} 
.btn-2{
    border-radius: 5px;
    border: no;
}

/* pic-video */

.details, li{
    text-align: center;
    list-style: none;
    text-wrap: wrap;
}

.about-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 30px;
}
.about-container img {
    height: 400px;
    width: 300px;
    border-radius: 10%;
    border:7px solid rgb(46, 0, 54);
}
.about-container p{
    max-width: 600px;
    font-size: 23px;
}
.railway{
    text-align: center;
}
button:hover{
    cursor: pointer;
}
.box:hover {
  transform: scale(1.03);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
}
.nav a:hover{
    transform: scale(1.03);
}
button:hover{
    transform: scale(1.03);
}

